<div fxLayout="column" fxLayoutAlign="center center">
  <div class="title">
    VISITORS LIST
  </div>
  <table>
    <thead>
      <th>
        Registration ID
      </th>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Contact
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let visitor of visitorsList">
        <td>
          {{visitor.regId}}
        </td>
        <td>
          {{visitor.name}}
        </td>
        <td>
          {{visitor.email}}
        </td>
        <td>
          {{visitor.contact}}
        </td>
      </tr>
    </tbody>
  </table>
</div>