.title {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 5rem;
	margin-bottom: 2rem;
	font-size: 28pt;
	color: rgb(99, 24, 24);
}

.no-visitor {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: red;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 70%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(odd) {
	background-color: rgba(161, 161, 161, 0.171);
}
  