<div  fxLayout="column" fxLayoutAlign="center center">
  <table>
    <tr>
      <th>
        Registration ID
      </th>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Contact
      </th>
    </tr>
    <tr>
      <td>
        01720358015
      </td>
      <td>
        Md. Samiul Alam
      </td>
      <td>
        samiulalam555@gmail.com
      </td>
      <td>
        01625077945
      </td>
    </tr>
    <tr>
      <td>
        01720358015
      </td>
      <td>
        Md. Samiul Alam
      </td>
      <td>
        samiulalam555@gmail.com
      </td>
      <td>
        01625077945
      </td>
    </tr>
    <tr>
      <td>
        01720358015
      </td>
      <td>
        Md. Samiul Alam
      </td>
      <td>
        samiulalam555@gmail.com
      </td>
      <td>
        01625077945
      </td>
    </tr>
    <tr>
      <td>
        01720358015
      </td>
      <td>
        Md. Samiul Alam
      </td>
      <td>
        samiulalam555@gmail.com
      </td>
      <td>
        01625077945
      </td>
    </tr>
    <tr>
      <td>
        01720358015
      </td>
      <td>
        Md. Samiul Alam
      </td>
      <td>
        samiulalam555@gmail.com
      </td>
      <td>
        01625077945
      </td>
    </tr>
    <tr>
      <td>
        01720358015
      </td>
      <td>
        Md. Samiul Alam
      </td>
      <td>
        samiulalam555@gmail.com
      </td>
      <td>
        01625077945
      </td>
    </tr>
    <tr>
      <td>
        01720358015
      </td>
      <td>
        Md. Samiul Alam
      </td>
      <td>
        samiulalam555@gmail.com
      </td>
      <td>
        01625077945
      </td>
    </tr>
    <tr>
      <td>
        01720358015
      </td>
      <td>
        Md. Samiul Alam
      </td>
      <td>
        samiulalam555@gmail.com
      </td>
      <td>
        01625077945
      </td>
    </tr>
  </table>
</div>