<div  fxLayout="column" fxLayoutAlign="center center">
  <table>
    <tr>
      <th>
        Registration ID
      </th>
      <th>
        Name
      </th>
      <th>
        Email
      </th>
      <th>
        Contact
      </th>
    </tr>
    <tr *ngFor="let visitor of visitorsList">
      <td>
        {{visitor.regId}}
      </td>
      <td>
        {{visitor.name}}
      </td>
      <td>
        {{visitor.email}}
      </td>
      <td>
        {{visitor.contact}}
      </td>
    </tr>
  </table>
</div>